
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #808080
}

#container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.right-image {
    float: left; /* Выравнивает изображение по правому краю */
    margin-right: 15px; /* Отступ слева от картинки */
    margin-bottom: 10px; /* Отступ снизу для картинки, если текст заканчивается */
    max-width: 200px; /* Опционально: ограничивает ширину картинки */
}

.popa {
    text-align: center;
}


.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 50px;
    margin-right: 10px;
    border: 2px solid #000000;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .tab:hover {
        background-color: #0056b3;
    }

    .tab.active {
        background-color: #0056b3;
    }

.tab-content {
    display: none;
}

    .tab-content.active {
        display: block;
    }


.page-title {
    text-align: center;
}

.slider-container {
    position: relative;
    width: 800px;
    height: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

    .slider img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: white;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f5a65c;
    margin: 0 auto;
    width: 820px;
}





.slider-container {
    position: relative;
    width: 800px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

    .slider img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: white;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}